<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <h1>Profiel van <%=user.name%></h1>
    </header>
    <main>
      <section class="geel">
        <h2>Vind een reismaat</h2>
        <form class="" action="vertrektijden" method="post">
          <label for="stationName">Selecteer vertrek station</label>
          <select id="station" name='stationId'>
            <% data.forEach(function(item){  %>
            <option value="<%=item.stationId%> <%=item.stationName%>"><%=item.stationName %></option>
            <%})%>
          </select>
          <button type="submit" >Start</button>
        </form>
      </section>
      <div class="verzoeken">
        <p>Vriendschapsverzoeken</p>
        <form class="vriendschapsverzoek" action="" method="post">
          <!-- <input type="text" name="friends-email" placeholder="e-mail adres"> -->
            <% invite.forEach(function(item){  %>
          <p>Vriendschapsverzoek van <%=item.name %></p>
          <div class="">
            <input type="radio" name="<%=item._id %>" value="bevestigen" id="bevestigen" onclick="return submitVerzoek(value, name)">
            <label for="bevestigen">Bevestigen</label>
            <input type="radio" name="<%=item._id %>" value="verwijderen" id="verwijderen" onclick="return submitVerzoek(value, name)">
            <label for="verwijderen">Verwijderen</label>
          </div>
              <%})%>
        </form>
      </div>
      <section>

      <h2>Vriendelijst</h2>
      <ul>
          <% user.connections.forEach(item =>{%>
            <li><%=item.name%></li>
        <%}) %>

      </ul>
      </section>
      <section class="">
      <h2>Een vriend uitnodigen</h2>
      <form class="vrienduitnodigen" action="" method="post" onsubmit="return submitForm();">
        <input type="text" name="friends-email" placeholder="e-mail adres">
        <button type="submit">Uitnodigen</button>
      </form>
      </section>
      <section>
      </section>
    </main>
  </body>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="index.js"></script>
</html>
