<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>
<body>
  <h1>Vertrektijden van <%=data %></h1>
<% departures.forEach(function(item){  %>
      <article class="">
        <h2><%= item.direction%></h2>
        <p><%= item.trainType%></p>
        <p><%= item.plannedDateTime%></p>
        <p><%= item.plannedTrack%></p>
        <p><%= item.tripId%></p>
        <a href="/reis/:<%= item.tripId%>">Kies deze reis</a>
      </article>
  <%})%>
</body>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/socket.io/socket.io.js"></script>
<!-- <script src="index.js"></script> -->

</html>
